<div class="bg-appliq d-flex align-items-center align-content-center vh-100 vw-100 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-5">
        <app-brand/>

        <!--header-->
        <div class="text-center mb-4">
          <h2 class="appliq-text-white fw-light mb-2">Reset Password</h2>
          <p class="appliq-text-white-50 mb-0">Kindly provide a new password for your account</p>
        </div>

        <!--Reset password form-->

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

          <app-input-with-icon
            label="Password"
            placeholder="********"
            icon="bi bi-key"
            [control]="password"
            type="password"
          />

          <app-input-with-icon
            label="Confirm Password"
            placeholder="********"
            icon="bi bi-key"
            [control]="confirmPassword"
            type="password"
          />

          <button type="submit" class="btn bg-appliq-white w-100 mb-3" [disabled]="resetPasswordForm.invalid">Reset Password
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
<router-outlet/>
