<p-intl-tel-input
  inputId="phone"
  [favoriteCountries]="preferredCountries"
  [enableAutoCountrySelect]="enableAutoCountrySelect"
  [displayPlaceholder]="displayPlaceholder"
  [selectedCountryISO]="selectedCountryISO"
  [phoneValidation]="phoneValidation"
  [separateDialCode]="separateDialCode"
  numberFormat="INTERNATIONAL"
  [searchCountryField]="searchCountryFields"
  [ngModel]="phoneValue"
  [disabled]="isDisabled"
  (ngModelChange)="onPhoneInputChange($event)"
  (countryChange)="onCountryChange($event)"
  (blur)="onBlur()">
</p-intl-tel-input>
