<div class="bg-appliq d-flex align-items-center align-content-center vh-100 vw-100 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-5">


        <!-- Logo/Brand Section -->
        <div class="d-flex align-items-center justify-content-center mb-5 gap-2">
          <div class="d-flex align-items-center justify-content-center bg-white rounded-3 p-2"
               style="width: 60px; height: 60px;">
            <span class="fw-bold text-dark fs-5">AQ</span>
          </div>
          <h4 class="appliq-text-white fw-bold mb-0">AppliQ</h4>
        </div>


        <!-- Sign In Header -->
        <div class="text-center mb-4">
          <h2 class="appliq-text-white fw-light mb-2">Sign Up</h2>
          <p class="appliq-text-white-50 mb-0">Enter your details to onboard on AppliQ</p>
        </div>

        <!--Login Form-->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

          <app-input-with-icon
            label="First Name"
            placeholder="John"
            icon="bi bi-person"
            [control]="firstName"
            type="text"
          />

          <app-input-with-icon
            label="Last Name"
            placeholder="Doe"
            icon="bi bi-person"
            [control]="lastName"
            type="text"
          />


          <app-input-with-icon
            label="Email"
            placeholder="john.doe@example.com"
            icon="bi bi-envelope-at"
            [control]="email"
            type="email"
          />

          <app-input-with-icon
            label="Password"
            placeholder="********"
            icon="bi bi-key"
            [control]="password"
            type="password"
          />

          <app-input-with-icon
            label="Confirm Password"
            placeholder="********"
            icon="bi bi-key"
            [control]="confirmPassword"
            type="password"
          />


                    <div class="mb-3">
                      <label class="custom-checkbox appliq-text-white">
                        <input
                          type="checkbox"
                          [formControl]="acceptTerms"
                          (change)="onCheckboxChange($event)"
                          (click)="$event.stopPropagation()">
                        <span class="checkbox-icon"><i class="bi bi-plugin"></i></span>
                        I accept the <a [routerLink]="['/terms-of-service']" class="appliq-text-white-50 text-decoration-none">&nbsp; Terms of Service &nbsp;</a>
                        and  <a [routerLink]="['/privacy-policy']" class="appliq-text-white-50 text-decoration-none "> &nbsp;Privacy Policy &nbsp;</a>
                      </label>
                    </div>

          <button type="submit" class="btn bg-appliq-white w-100 mb-3" [disabled]="signupForm.invalid">Create Account
          </button>
        </form>


        <!-- Social Login Section -->
        <div class="text-center">
          <div class="text-center appliq-text-white">
            <p class="mt-1">Already have an account? <a [routerLink]="['/login']"
                                                        class="appliq-text-white-50 text-decoration-none">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet/>
