<div class="p-4 overflow-hidden flex flex-col gap-4 bg-appliq-50 appliq-text-white">

  <div class="flex gap-3 flex-wrap justify-between">
    @for (item of items; track item) {
      <div
        class="bg-appliq rounded-[10px] text-sm p-4 flex-1 flex justify-between items-center shadow-md overflow-hidden">
        <div>
          <h5 class="text-lg {{ item.color }}">{{ item.name }}</h5>
          <p class="text-3xl font-bold {{ item.color }}">{{ item.count }}</p>
        </div>
        <i class="{{ item.icon }} {{ item.color }}  text-3xl mt-3"></i>
      </div>
    }
  </div>

  <div class="flex flex-col bg-appliq rounded-[10px] p-4 h-[70%]">
    <h5 class="mb-3">Application Trends</h5>

    <!-- Controls Section - Responsive -->
    <div class="bg-appliq flex flex-col sm:flex-row flex-wrap gap-3 items-start sm:items-center justify-between mb-4 min-h-[60px]">

      <div class="flex flex-col sm:flex-row gap-2 sm:gap-3 sm:w-auto">
        <!-- Date Range Picker -->
        <div class="sm:w-auto flex-shrink-0">
          <mat-form-field appearance="outline" class="sm:w-auto">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker
                                   panelClass="bg-appliq-50 appliq-text-white rounded-[10px]">
            </mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="sm:w-auto flex-shrink-0">
          <mat-form-field appearance="outline" class="sm:w-auto">
            <mat-label>Filter by Status</mat-label>
            <mat-select panelClass="bg-appliq-50 appliq-text-white rounded-[10px]"
                        [(ngModel)]="selectedStatuses"
                        multiple
                        (selectionChange)="onFilterChange()">
              <mat-select-trigger>
                {{ StatusDisplayText }}
              </mat-select-trigger>
              @for (status of allStatuses; track status) {
                <mat-option [value]="status">
                  {{ status }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <!-- Chart Type Radio Buttons -->
      <div class="sm:w-auto flex-shrink-0">
        <mat-radio-group [(ngModel)]="chartType" (change)="onFilterChange()" class="flex flex-row gap-4">
          <mat-radio-button value="bar">Bar Chart</mat-radio-button>
          <mat-radio-button value="line">Line Chart</mat-radio-button>
        </mat-radio-group>
      </div>


    </div>

    <!-- Chart Section - Takes Remaining Space -->
    <div class="bg-appliq-50 h-[47vh]">
      @if (barChartData.length === 0 && lineChartData.length === 0) {
        <div class="no-data-message flex items-center justify-center h-full">
          No data available for the selected filters.
        </div>
      }
      @if (isBrowser && chartType === 'bar' && barChartData.length > 0) {
        <ngx-charts-bar-vertical class="overflow-hidden"
                                 [results]="barChartData"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [showGridLines]="false"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
                                 xAxisLabel="Application Status"
                                 yAxisLabel="Number of Applications"
                                 [gradient]="false"
                                 [scheme]="appliqScheme"
                                 [barPadding]="100"
                                 [roundDomains]="false"
                                 [showDataLabel]="true"
                                 [legend]="true"
                                 [roundEdges]="true"
                                 [tooltipDisabled]="false"
                                 (select)="onSelect($event)"
                                 style="fill: #9e9e9e">
        </ngx-charts-bar-vertical>
      }

      @if (isBrowser && chartType === 'line' && lineChartData.length > 0) {
        <ngx-charts-line-chart class="overflow-hidden"
                               [results]="lineChartData"
                               [xAxis]="true"
                               [yAxis]="true"
                               [showXAxisLabel]="true"
                               [showYAxisLabel]="true"
                               xAxisLabel="Date"
                               yAxisLabel="Number of Applications"
                               [scheme]="appliqScheme"
                               [gradient]="false"
                               [legend]="true"
                               [showGridLines]="false"
                               [roundDomains]="false"
                               [tooltipDisabled]="false"
                               (select)="onSelect($event)"
                               style="fill: #9e9e9e">
        </ngx-charts-line-chart>
      }
    </div>
  </div>

  <!--    Recent Trends-->
  <div class="flex flex-col bg-appliq rounded-[10px] p-2 h-[60%] relative overflow-hidden">

    <div class="flex gap-3 p-2 overflow-x-auto">
      @for (activity of recentActivities; track activity; let i = $index) {
        <div
          class="h-48 w-68 bg-appliq-50 rounded-xl p-4 shadow-md transition-all duration-300 hover:-translate-y-0.5 flex flex-col justify-between">
          <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
              <h6 class="text-base font-semibold text-gray-900 truncate">{{ activity.company }}</h6>
            </div>
            <span class="bg-blue-50 text-blue-600 px-2 py-0.5 rounded-full text-xs font-medium whitespace-nowrap self-start">
            {{ activity.position }}
          </span>
          </div>

          <div class="flex flex-col gap-2">
            <div class="flex items-center gap-1 text-gray-500 text-xs">
              <span>{{ activity.date | date:'MMM d, y • h:mm a' }}</span>
            </div>

            <div class="flex items-center gap-1">
              @if (activity.oldStatus !== activity.newStatus) {
                <span
                  class="px-2 py-1 rounded-full text-xs font-medium uppercase tracking-wider bg-red-50 text-red-700">
                {{ activity.oldStatus }}
                </span>
                <i class="bi bi-arrow-right-short text-lg"></i>
              }
              <span
                class="px-2 py-1 rounded-full text-xs font-medium uppercase tracking-wider bg-green-50 text-green-700">
              {{ activity.newStatus }}
            </span>
            </div>
          </div>
        </div>
      }
      @if (recentActivities.length === 0) {
        <div class="flex flex-col items-center justify-center py-15 px-5 text-center">
          <mat-icon class="text-5xl mb-4 opacity-50">inbox</mat-icon>
          <h3 class="text-lg font-medium mb-2 m-0">No Recent Activities</h3>
          <p class="text-sm m-0">Activity updates will appear here when available.</p>
        </div>
      }
    </div>

  </div>
</div>

<router-outlet/>
