<div class="bg-appliq d-flex align-items-center align-content-center vh-100 vw-100 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-5">
        <app-brand/>

        <!--header-->
        <div class="text-center mb-4">
          <h2 class="appliq-text-white fw-light mb-2">Forgot Password</h2>
          <p class="appliq-text-white-50 mb-0">Kindly enter the email linked to your account to proceed</p>
        </div>

        <!--forgot password form-->

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

          <app-input-with-icon
            label="Email"
            placeholder="john.doe@example.com"
            icon="bi bi-envelope-at"
            [control]="email"
            type="email"
          />

          <button type="submit" class="btn bg-appliq-white w-100 mb-3" [disabled]="forgotPasswordForm.invalid">Send
            Password Reset Link
          </button>
        </form>

        <div class="text-center appliq-text-white">
          <p class="mt-1">Back to <a [routerLink]="['/login']" class="appliq-text-white-50 text-decoration-none">Sign
            In</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
<router-outlet/>
