<div class="sidebar appliq-text-white">
  <div class="d-flex align-items-center justify-content-start mb-5 gap-2">
    <div class="d-flex align-items-center justify-content-center bg-white rounded-3 p-2"
         style="width: 40px; height: 40px;">
      <span class="fw-bold text-dark fs-5">AQ</span>
    </div>
    <h4 class="appliq-text-white text-sm fw-bold mb-0">AppliQ</h4>
  </div>

  <nav class="nav-links">
    <a [routerLink]="['/dashboard']" routerLinkActive="active" (click)="setTitle('Dashboard')">
      <i class="bi bi-columns-gap"></i> Dashboard
    </a>
    <a [routerLink]="['/applications']" routerLinkActive="active" (click)="setTitle('Applications')">
      <i class="bi bi-window-plus"></i> Applications
    </a>
    <a [routerLink]="['/settings']" routerLinkActive="active" (click)="setTitle('Settings')">
      <i class="bi bi-gear-fill"></i> Settings
    </a>
  </nav>

  <div class="user-section">
    <div class="avatar">
      <i class="bi bi-person-circle"></i>
    </div>
    <div class="user-info">
      <div class="name">John Doe</div>
      <div class="email"> johndoe&#64;email.com </div>
    </div>
    <div class="logout">
      <button class="logout-btn">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
