<div class="applications-container">
  <div class="apps-header">
    <div class="search-and-filters">
      <div class="search-input-wrapper">
        <input type="text" placeholder="Search..." class="search-bar" />
        <i class="bi bi-search search-icon"></i>
      </div>
      <div class="filters">
        <div class="dropdown">
          <select class="filter-btn">
            <option value="">All Statuses</option>
            @for (status of statuses; track status) {
              <option
                [value]="status"
                class="filter-select"
                >
                {{ status }}
              </option>
            }
          </select>
        </div>
        <div class="dropdown">
          <button class="filter-btn" (click)="toggleDateDropdown()">
            Date Range <i class="bi bi-calendar4-event ms-2"></i>
          </button>
          @if (dateDropdownOpen) {
            <div class="dropdown-menu date-range-menu">
              <label>
                Start:
                <input type="date" [(ngModel)]="startDate" />
              </label>
              <label>
                End:
                <input type="date" [(ngModel)]="endDate" />
              </label>
              <button class="apply-btn" (click)="applyDateRange()">Apply</button>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="view-toggle-application">
      <div class="view-toggle">
        <button
          [class.active]="viewMode === 'grid'"
          (click)="toggleView('grid')"
          aria-label="Grid view"
          >
          <i class="bi bi-grid-3x3-gap-fill"></i>
        </button>
        <button
          [class.active]="viewMode === 'list'"
          (click)="toggleView('list')"
          aria-label="List view"
          >
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="add-application">
        <button class="add-application-btn">
          <i class="bi bi-plus me-2"></i> Add Application
        </button>
      </div>
    </div>
  </div>
  @if (applications && applications.length > 0) {
    <div class="applications-content">
      <div
        class="applications-list"
        [ngClass]="{
          'grid-view': viewMode === 'grid',
          'list-view': viewMode === 'list',
        }"
        >
        @for (app of applications; track app) {
          <app-application-card
            [application]="app"
            [statusDetailsMap]="statusDetailsMap"
            [statuses]="statuses"
            (requestStatusChange)="handleStatusChange($event)"
            (edit)="editApplication($event)"
            (delete)="deleteApplication($event)">
          </app-application-card>
        }
      </div>
    </div>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      @for (page of paginationArray; track page) {
        <button [class.active]="page === currentPage" (click)="goToPage(page)">
          {{ page }}
        </button>
      }
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  } @else {
    <div class="empty-state">
      <img
        [src]="image"
        alt="No Applications"
        style="height: 40vh; width: auto; object-fit: cover"
        />
      <!-- <img src="https://images.app.goo.gl/XvZc64fCWh1ZGnqf7" alt="not showing" /> -->
      <p>No applications yet</p>
    </div>
  }

  <ng-template #loading>
    <div class="loading-spinner">
      <i class="bi bi-arrow-clockwise"></i> Loading applications...
    </div>
  </ng-template>
  <!-- <div class="applications-container">
</div> -->
</div>
<router-outlet />

<!-- <button class="filter-btn" (click)="toggleStatusDropdown()">
All Statuses <i class="bi bi-chevron-double-up ms-2"></i>
</button>
<div class="dropdown-menu" *ngIf="statusDropdownOpen">
  <a class="dropdown-item" href="#">All Statuses</a>
  <a class="dropdown-item" href="#">Applied</a>
  <a class="dropdown-item" href="#">Test</a>
  <a class="dropdown-item" href="#">Interview</a>
  <a class="dropdown-item" href="#">OfferAwarded</a>
  <a class="dropdown-item" href="#">Rejected</a>
  <a class="dropdown-item" href="#">Withdrawn</a>
</div> -->

<!-- <div class="application-card" *ngFor="let app of paginatedApplications">
<h4>{{ app.title }}</h4>
<p>{{ app.description }}</p>
<p>{{ app.status }}</p>
<p>{{ app.date }}</p>
</div> -->
