<div class="applications-container">
  <div class="apps-header">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
        <!-- Search Input -->
        <div class="md:col-span-1">
          <mat-form-field appearance="fill" class="w-full custom-form-field">
            <mat-label class="text-slate-400">Search</mat-label>
            <i matPrefix class="bi bi-search text-slate-400 mr-3"></i>
            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
          </mat-form-field>
        </div>

        <!-- Date Range -->
        <div class="md:col-span-1">
          <mat-form-field appearance="fill" class="w-full custom-form-field">
            <mat-label class="text-slate-400">Filter by Date</mat-label>
            <i matPrefix class="bi bi-calendar-range text-slate-400 mr-3"></i>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="dateRange.begin" name="startDate" (ngModelChange)="onDateRangeChange()">
              <input matEndDate placeholder="End date" [(ngModel)]="dateRange.end" name="endDate" (ngModelChange)="onDateRangeChange()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker" class="text-slate-300"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <!-- Status Filter -->
        <div class="md:col-span-1">
          <mat-form-field appearance="fill" class="w-full custom-form-field">
            <mat-label class="text-slate-400">Filter by Status</mat-label>
            <i matPrefix class="bi bi-tags-fill text-slate-400 mr-3"></i>
            <mat-select [(ngModel)]="selectedStatuses" multiple (selectionChange)="onStatusFilterChange()">
              <mat-select-trigger>
                {{ StatusDisplayText }}
              </mat-select-trigger>
              @for (status of statuses; track status) {
                <mat-option [value]="status">{{ status }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    <div class="view-toggle-application">
      <div class="view-toggle">
        <button
          [class.active]="viewMode === 'grid'"
          (click)="toggleView('grid')"
          aria-label="Grid view"
        >
          <i class="bi bi-grid-3x3-gap-fill"></i>
        </button>
        <button
          [class.active]="viewMode === 'list'"
          (click)="toggleView('list')"
          aria-label="List view"
        >
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="add-application">
        <button class="add-application-btn" (click)="showAddModal = true">
          <i class="bi bi-plus me-2"></i> Add Applications
        </button>
        @if (showAddModal) {
        <div class="modal-backdrop"></div>
        <div class="modal-popup">
          <h3 class="margin-bottom: 1rem">Add New Application</h3>
          <form (ngSubmit)="addApplication()" #addAppForm="ngForm">
            <p>Company Name</p>
            <input
              type="text"
              placeholder="Company"
              [(ngModel)]="newApp.company"
              name="company"
              required
            />
            <p>Company Website</p>
            <input
              type="text"
              placeholder="website"
              [(ngModel)]="newApp.website"
              name="website"
              required
            />
            <p>Position/Roles</p>
            <input
              type="text"
              placeholder="Position"
              [(ngModel)]="newApp.position"
              name="position"
              required
            />
            <p>Application Type</p>
            <select
              [(ngModel)]="newApp.applicationType"
              name="applicationType"
              required
              class="w-full p-2 rounded-md border border-slate-700 bg-[#0F172A] text-slate-300"
            >
              <option *ngFor="let type of applicationTypes" [value]="type">
                {{ type }}
              </option>
            </select>

            <div class="modal-actions">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!addAppForm.form.valid || showAddLoading"
              >
            @if (showAddLoading) {
              <span class="spinner-border spinner-border-sm me-2"></span>
            }  Add Application
              </button>
              <button
                class="btn btn-secondary"
                type="button"
                (click)="showAddModal = false"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
        }
      </div>
    </div>
  </div>
  @if (loading) {
    <div class="loading-spinner">
      <i class="bi bi-arrow-clockwise"></i> Loading applications...
    </div>
  } @else if (applications && applications.length > 0) {
  <div class="applications-content">
    <div
      class="applications-list"
      [ngClass]="{
          'grid-view': viewMode === 'grid',
          'list-view': viewMode === 'list',
        }"
    >

      @for (app of displayedApplications; track app) {
      <app-application-card
        [application]="app"
        [statusDetailsMap]="statusDetailsMap"
        [statuses]="statuses"
        [viewMode]="viewMode"
        (requestStatusChange)="openStatusModal($event)"
        (edit)="editApplication($event)"
        (delete)="deleteApplication($event)"
      >
      </app-application-card>
      }
    </div>
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    @for (page of paginationArray; track page) {
    <button [class.active]="page === currentPage" (click)="goToPage(page)">
      {{ page }}
    </button>
    }
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
  } @else {
  <div class="empty-state">
    <p>No applications yet</p>
  </div>
  }
</div>
<router-outlet />


@if (showStatusModal) {
  <div class="modal-backdrop"></div>
  <div class="modal-popup">
    <h3>Change Status to {{ selectedStatusForModal }}</h3>
    <p style="color:gray">
      Add a note for the status change for {{ selectedAppForModal?.position }} at {{ selectedAppForModal?.company }}
    </p>
    <h5>Note (Optional)</h5>
    <textarea
      [(ngModel)]="statusChangeReason"
      placeholder="Enter details about the {{ selectedStatusForModal }} stage..."
      rows="3"
      style="width: 100%; border-radius: 6px; border: 1px solid #343650; padding: 0.8rem; background: #0F172A; color: rgb(104, 102, 102);"
    ></textarea>
    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="showStatusModal = false">Cancel</button>
      <button class="btn btn-primary" (click)="confirmStatusChange()" [disabled]="!statusChangeReason.trim()">Save Status Update</button>
    </div>
  </div>
}

@if (showDeleteModal) {
  <div class="modal-backdrop"></div>
  <div class="modal-popup delete-modal">
    <h3 class="modal-title">Delete Application?</h3>
    <p class="modal-message" style="color:gray">
      Are you sure you want to delete the application for 
      <strong>{{ selectedAppForDelete?.position }}</strong> at 
      <strong>{{ selectedAppForDelete?.company }}</strong>?
    </p>
    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="showDeleteModal = false">Cancel</button>
      <button class="btn btn-danger" (click)="confirmDeleteApplication()">Yes, Delete!</button>
    </div>
  </div>
}
