<div class="calendar-container">
  <div class="calendar-header">
    <div class="header-left">
      <button mat-icon-button (click)="viewDate = today" matTooltip="Today">
        <mat-icon>today</mat-icon>
      </button>
      <button mat-icon-button mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <h2 class="current-month-year">{{ viewDate | calendarDate:view:'MMM yyyy' }}</h2>
    </div>

    <div class="header-right">
      <mat-radio-group [(ngModel)]="view" class="view-toggle">
        <mat-radio-button value="month">Month</mat-radio-button>
        <mat-radio-button value="week">Week</mat-radio-button>
        <mat-radio-button value="day">Day</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" class="status-filter-calendar">
        <mat-label>Filter by Status</mat-label>
        <mat-select [(ngModel)]="selectedStatuses" multiple (selectionChange)="fetchEvents()">
          @for (status of allStatuses; track status) {
          <mat-option [value]="status">{{status}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="calendar-content">
    @switch (view) {
      @case ('month') {
        <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="calendarEvents"
          [cellTemplate]="monthCellTemplate"
          (eventClicked)="handleEventClick($event)">
        </mwl-calendar-month-view>
      }

      @case ('week') {
        <mwl-calendar-week-view
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (eventClicked)="handleEventClick($event)">
        </mwl-calendar-week-view>
      }

      @case ('day') {
        <mwl-calendar-day-view
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (eventClicked)="handleEventClick($event)">
        </mwl-calendar-day-view>
      }
    }
  </div>

</div>

<ng-template #monthCellTemplate let-day="day">
  <div class="cal-cell-top">
    @if (day.badgeTotal > 0) {
      <span class="cal-day-badge">{{ day.badgeTotal }}</span>
    }
    <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber' }}</span>
  </div>

  @if (day.events.length > 0) {
    <div class="cal-events">
      @for (event of day.events; track event) {
        <div
          class="event-bubble"
          [style.backgroundColor]="event.color?.primary"
          [attr.title]="event.title">
        </div>
      }
    </div>
  }
</ng-template>

