<div class="flex text-[1.25rem] justify-between items-center p-3 bg-appliq-50 appliq-text-white border-b border-solid">
  <div class="font-semibold">{{ title$ | async }}</div>
  <div>
    <a
      href="{{buyMeACoffeeUrl}}"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-appliq text-[1.2rem] appliq-text-white hover:text-white transition-colors duration-200 px-4 py-2 rounded-2xl text-decoration-none"
    >
      <i class="bi bi-cup-straw"></i>
       Buy Me a Coffee
    </a>
  </div>
</div>

